body {
            background-color: #f8f9fa;
            font-family: Arial, sans-serif;
            position: relative;
            min-height: 100vh; /* Ensure full viewport height */
        }
        .container {
            margin-top: 50px;
            position: relative;
            z-index: 1; /* Ensure content is above footer */
        }
        .card {
            border: none;
            border-radius: 15px;
            box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
        }
        .card-body {
            padding: 40px;
        }
        .card-title {
            font-size: 2.5rem;
            color: #007bff;
        }
        .card-subtitle {
            font-size: 1.5rem;
            color: #6c757d;
            margin-top: 10px;
        }
        .start-recognition {
            display: inline-block;
            margin-top: 20px;
            padding: 12px 24px;
            background-color: #007bff;
            color: white;
            border-radius: 5px;
            text-decoration: none;
            transition: background-color 0.3s;
        }
        .start-recognition:hover {
            background-color: #0056b3;
        }
        /* Footer styles */
        .footer {
            color: #6c757d;
            font-size: 24px;
            cursor: pointer;
            margin-top: 20px;
        }
        .footer i {
            margin-right: 10px;
        }