<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Details</title>
    <link rel="stylesheet" href="{% static 'stu_detail.css' %}">

</head>
<body>
    <div class="container">
        <h1>stuloy Details</h1>
        <div class="student-details">
            <div class="detail"><strong>Name:</strong> {{ stu.name }}</div>
            <div class="detail"><strong>Email:</strong> {{ stu.email }}</div>
            <div class="detail"><strong>Phone Number:</strong> {{ stu.phone_number }}</div>
            <div class="detail"><strong>Designation:</strong> {{ stu.designation }}</div>
            <div class="detail"><strong>Authorized:</strong> {% if stu.authorized %} Yes {% else %} No {% endif %}</div>
        </div>
        <div class="actions">
            <a href="{% url 'stu_list' %}">Back to List</a>
            <a href="{% url 'stu-authorize' pk=stu.pk %}">Authorize</a>
            <a href="">Delete</a> <!-- Add this line -->
        </div>
    </div>
</body>
</html>
